
a,
#gnbPanel ul div ol li{
    text-decoration: none;
}
header > div nav ul li,
header > div:first-of-type div span input[type='search'],
#gnbPanel span,
#gnbPanel strong,
#gnbPanel ul div ol li,
footer > div:first-of-type ul li h3, a, address, span,
footer > div:last-of-type div p,
footer > div:first-of-type > div h3,
.headCopy,
.storeBox,
.productBox,
.sinceBox h2, p:first-of-type,
.bannerBox,
.tabUI > li input[type='button'],
.aboutContainer,
.pageNavigator,
#aboutUs,
#headQuarters,
.brandContainer,
.communityContainer,
#announcement > div:first-of-type > form select,
#announcement > div:first-of-type > form input[type='search'],
#announcement > div:first-of-type > form input[type='submit'],
#qna > div:first-of-type > select,
#qna > div:first-of-type > input[type='search'],
#qna > div:first-of-type > input[type='submit'],
#faq > div > form input[type='search'],
#faq > div > form input[type='submit'],
.contactBox > form ul li:first-of-type select,
.contactBox > form ul li:first-of-type select option,
.contactBox > form ul li:last-of-type textarea,
.contactBox > form ul div input[type='submit'],
.contactBox > form ul div input[type='reset'],
.listContainer,
.listContainer > div:nth-of-type(2) div:first-of-type select,
.orderBox,
.button > input[type='button'],
#price,
#count,
#priceOne,
#configurationSelect,
#colorSelect,
#legSelect,
#compositionSelect,
.orderBox > div:nth-of-type(2) > input[type='button'],
.buttonBox > input[type='button'],
#productReview > input[type='search'],
.loginContainer,
.loginContainer > form input[type='submit'],
.findidContainer,
.findpwContainer,
.findpwContainer > form input[type='submit'],
.findpwContainer > form input[type='button'],
.accContainer,
.accContainer > form fieldset:nth-of-type(2) div textarea,
.accContainer > form fieldset:nth-of-type(3) div textarea,
.accContainer > form > div input[type='reset'],
.infoContainer,
.infoContainer > form > ul li input[type='button'],
.infoContainer > form > div input[type='submit'],
.accContainer > form > div input[type='submit'],
.completeContainer,
.mypageContainer,
.personalContainer,
.personalContainer > form ul li:nth-of-type(4) input[type='text'],
.personalContainer > form ul li:nth-of-type(4) input[type='button'],
.personalContainer > form div input[type='submit'],
.personalContainer > form div input[type='reset'],
.wishContainer,
.orderContainer,
.orderContainer > fieldset div:first-of-type select,
.orderContainer > fieldset div:nth-of-type(2) input,
.shopbagContainer,
.shopbagContainer > form ul li input,
.shopbagContainer > form > input,
#deletePop,
#deletePop > form input{
    font-family: 'Mulish';
}
.sinceBox p:not(:first-of-type),
#aboutUs > section:nth-of-type(2) > div:first-child p,
#aboutUs > section:last-of-type > div:first-child p,
#headQuarters > section:first-of-type > div p,
#productsDetails > h3,
.wayLR > li:nth-of-type(2n) > p,
.wayLR > li:nth-of-type(2n-1) > p{
    font-family: 'EB Garamond';
}

header > div > button.material-icons{
    background-color: transparent; border: none; font-size: 24px;
}
 
[id$='Panel'],
.tabPanel{
    display: none;
}
[id$='Panel'].active,
.tabPanel.active{
    display: block;
}

.colorWhite{
    background-image: url('../images/listcolor_white.png');
}
.colorOak{
    background-image: url('../images/listcolor_oak.png');
}
.colorCreamivory{
    background-image: url('../images/listcolor_creamivory.png');
}
.colorNavy{
    background-image: url('../images/listcolor_navy.png');
}
.colorNatural{
    background-image: url('../images/listcolor_natural.png');
}
.colorBrown{
    background-image: url('../images/listcolor_brown.png');
}
.colorNaturalbrown{
    background-image: url('../images/listcolor_naturalbrown.png');
}
.colorGray{
    background-image: url('../images/listcolor_gray.png');
}
.colorWalnut{
    background-image: url('../images/listcolor_walnut.png');
}
.colorIvory{
    background-image: url('../images/listcolor_ivory.png');
}
.colorSkyblue{
    background-image: url('../images/listcolor_sky.png');
}
.colorLightgray{
    background-image: url('../images/listcolor_lightgray.png');
}
.colorRosegoldgray{
    background-image: url('../images/listcolor_rosegoldgray.png');
}
.colorBeige{
    background-image: url('../images/listcolor_beige.png');
}
.colorSandbeige{
    background-image: url('../images/listcolor_sandbeige.png');
}
.colorBluegray{
    background-image: url('../images/listcolor_bluegray.png');
}
.colorMilkywhite{
    background-image: url('../images/listcolor_milkywhite.png');
}
.colorMistpink{
    background-image: url('../images/listcolor_mistpink.png');
}
.colorOlivegreen{
    background-image: url('../images/listcolor_olivegreen.png');
}
.colorLightbrown{
    background-image: url('../images/listcolor_lightbrown.png');
}
.colorMerbau{
    background-image: url('../images/listcolor_merbau.png');
}
.colorMaple{
    background-image: url('../images/listcolor_maple.png');
}
.colorBlue{
    background-image: url('../images/listcolor_blue.png');
}
.colorOrange{
    background-image: url('../images/listcolor_orange.png');
}
.colorAquablue{
    background-image: url('../images/listcolor_aquablue.png');
}
.colorYellow{
    background-image: url('../images/listcolor_yellow.png');
}
.colorRed{
    background-image: url('../images/listcolor_red.png');
}
.colorSilver{
    background-image: url('../images/listcolor_silver.png');
}
.colorWashGray{
    background-image: url('../images/listcolor_washgray.png');
}
.colorDarkGray{
    background-image: url('../images/listcolor_darkgray.png');
}
.colorLightgraywhite{
    background-image: url('../images/listcolor_lightgray.png');
}
.colorTurquoiseoak{
    background-image: url('../images/listcolor_turquoise.png');
}
.colorWarmgray{
    background-image: url('../images/listcolor_warmgray.png');
}
.colorClassicgray{
    background-image: url('../images/listcolor_classicgray.png');
}
.colorBlack{
    background-image: url('../images/listcolor_black.png');
}
.colorAntique{
    background-image: url('../images/listcolor_brown.png');
}

.bx-wrapper{
    box-shadow: none;
    border: none;
    background: #fff;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
}
header+*{
    padding-top: 71px;
}
/* all Use */
@media screen and (max-width: 767px){
    .mui{
        display: block;
    }
    header > div:first-of-type,
    .pageNavigator,
    #headQuarters > section:nth-of-type(2),
    #headQuarters > section:nth-of-type(3),
    #headQuarters > section:last-of-type,
    #announcement,
    #inquiry,
    #qna,
    #faq,
    .hallguideBox,
    .contactBox,
    .qnadetailBox,
    .qnawriteBox,
    .listContainer > div:nth-of-type(2),
    .orderBox,
    .mypageContainer,
    .personalContainer,
    .wishContainer,
    .orderContainer,
    .shopbagContainer{
        padding: 0 3.5%; box-sizing: border-box;
    }
    header+*{
        padding-top: 64px;
    }
    header > div:first-of-type{
        padding: 20px 0; position: relative;
    }
    header > div:first-of-type:after{
        content: ''; display: block; clear: both;
    }
    header > div:first-of-type > *{
        float: left;
    }
    header > div:first-of-type button{
        width: 6.9%; line-height: 18px;
    }
    header > div:first-of-type h1{
        margin-left: 10.5%; width: 34%;
    }
    header > div:first-of-type h1 a{
        display: block;
    }
    header > div:first-of-type h1 a img{
        width: 100%; max-width: 90px;
    }
    header > div:first-of-type nav{
        display: none;
    }
    header > div:first-of-type nav ul li{
        display: inline-block; line-height: 30px; padding: 0 10px;
        font-size: 12px; color: #222; font-weight: 600; cursor: default;
    }
    header > div:first-of-type nav ul li:hover{
        border-bottom: 1px solid black; color: #888;
    }
    header > div:first-of-type nav ul li a{
        display: block; color: inherit;
    }
    header > div:first-of-type div{
        width: 34.6%; margin-left: 14%;
    }
    header > div:first-of-type div span{
        width: 100%; position: absolute; box-sizing: border-box; top: 63px; 
        z-index: 2; display: none; background-color: white; left: 0;
        padding: 20px 0; border-radius: 0 0 10px 10px; text-align: center;
    }
    header > div:first-of-type div span.active{
        display: block;
    }
    header > div:first-of-type div span input[type='search']{
        font-size: 14px; color: #222; border: none; line-height: 30px; border-bottom: 1px solid black;
        box-sizing: border-box;
    }
    header > div:first-of-type div span input[type='submit']{
        background-color: transparent; border: none; text-indent: -9999px;
        background: url('../images/header_search.png') center / contain no-repeat; width: 14px;
        
    }
    header > div:first-of-type div span input[type='button']{
        background-color: transparent; border: none; display: inline-block;
        text-indent: -9999px; background: url('../images/search_close.png') center / 8px no-repeat;
    }
    header > div:first-of-type div ul{
        display: flex; list-style: none; justify-content: space-between;
    }
    header > div:first-of-type div ul li{
       width: 20px; line-height: 18px;
    }
    header > div:first-of-type div ul li input[type='button']{
        background-color: transparent; border: none; text-indent: -9999px; width: inherit; line-height: inherit;
        background: url('../images/header_search.png') center / 14px no-repeat; display: block;
    }
    header > div:first-of-type div ul li input[type='button'].active{
        background: url('../images/search_close.png') center / 13px no-repeat;
    }
    header > div:first-of-type div ul li a{
        display: block; text-indent: -9999px; background-position: center; background-repeat: no-repeat; line-height: 18px;
    }
    header > div:first-of-type div ul li:nth-child(2) a{
        background-image: url('../images/header_myacc.png'); background-size: 13px;
    }
    header > div:first-of-type div ul li:nth-child(3) a{
        background-image: url('../images/header_wish.png'); background-size: 16px;
    }
    header > div:first-of-type div ul li:nth-child(4) a{
        background-image: url('../images/header_shopbag.png'); background-size: 13px;
     }
    #gnbPanel{
        width: 100%; border-top: 1px solid #ebebe6; padding: 20px 0; position: relative; box-sizing: border-box;
    }
    #gnbPanel > ul{
        list-style: none;
    }
    #gnbPanel > ul > li{
        line-height: 50px;
    }
    #gnbPanel > ul > li:hover{
        width: 100%; background-color: #ebebe6;
    }
    #gnbPanel > ul li > span{
        padding: 0 2.65%; display: block; box-sizing: border-box; 
        font-size: 12px; font-weight: 700; color: #555;
    }
    #gnbPanel > ul li:hover > span{
        background: url('../images/header_arrow.png') right 15px center / 8px no-repeat, #ebebe6;
    }
    #gnbPanel > ul li > span+div{
        display: none; position: absolute; top: 0; width: 100%; padding: 20px 2.65% 500px; box-sizing: border-box;
        background-color: white; z-index: 1;
    }
    #gnbPanel > ul li:hover > span+div{
        display: block;
    }
    #gnbPanel strong{
        font-size: 14px; font-weight: 700; color: #222; display: block;
    }
    #gnbPanel div ol{
        list-style: none;
    }
    #gnbPanel div ol li{
        line-height: 27px;
    }
    #gnbPanel div ol li:hover a{
        color: #222;
    }
    #gnbPanel div ol li a{
        font-size: 12px; font-weight: 600; color: #777; 
    }
    #gnbPanel div > div:last-child{
       display: none;
    }

    /* footer */
    footer,
    footer > div:last-of-type{
        border-top: 1px solid #c3c2bc;
    }
    footer > div:first-of-type,
    footer > div:last-of-type > div{
        max-width: 260px; margin: 0 auto;
    }
    footer > div:first-of-type{
        padding: 40px 0; box-sizing: border-box;
    }
    footer > div > *{
        list-style: none;
    }
    footer > div:first-of-type ul:nth-of-type(1){
        margin-bottom: 50px;
    }
    footer > div:first-of-type ul li:not(:last-of-type){
        margin-bottom: 30px;
    }
    footer > div:first-of-type ul:first-of-type li:last-child a{
        display: block;
    }
    footer > div:first-of-type ul:first-of-type li:last-child:after{
        content: ''; display: block; clear: both;
    }
    footer > div:first-of-type ul:first-of-type li:last-child a:nth-of-type(2n+1){
        float: left; width: 50%;
    }
    footer > div:first-of-type ul:first-of-type li:last-child a:nth-of-type(1),
    footer > div:first-of-type ul:first-of-type li:last-child a:nth-of-type(2){
        margin-bottom: 15px;
    }
    footer > div:first-of-type ul li h3{
        margin-bottom: 20px;
    }
    footer > div:first-of-type ul li span{
        display: inline-block;
    }
    footer > div:first-of-type ul li span:nth-of-type(1){
        margin-bottom: 30px;
    }
    footer > div:first-of-type ul li span:nth-of-type(2){
        margin-left: 15%;
    }
    footer > div:first-of-type ul li span:nth-of-type(3){
        display: block;
    }
    footer > div:first-of-type ul li h3,
    footer > div:first-of-type ul li span{
        font-size: 16px; font-weight: 700; color: #333;
    }
    footer > div:first-of-type address{
        font-size: 12px; font-weight: 500; color: #777;
        font-style: inherit; line-height: 20px;
    }
    footer > div:first-of-type ul li a{
        font-size: 14px; font-weight: 500; color: #777;
    }
    footer > div:first-of-type > ul li span a{
        display: block; margin-top: 20px;
    }
    footer > div:first-of-type > div{
        display: none;
    }
    footer > div:last-of-type{
        padding: 30px 0; box-sizing: border-box;
    }
    footer > div:last-of-type h2{
        text-align: center; margin-bottom: 20px;
    }
    footer > div:last-of-type h2 img{
        width: 100%; max-width: 150px; 
    }
    footer > div:last-of-type p{
        text-align: center;
        font-size: 12px; font-weight: 600; color: #222;
    }
}
/* mobile */
@media screen and (min-width: 768px) and (max-width: 1279px){
    .mui{
        display: block;
    }
    header > div:first-of-type,
    .pageNavigator,
    #headQuarters > section:nth-of-type(2),
    #headQuarters > section:nth-of-type(3),
    #headQuarters > section:last-of-type,
    #announcement,
    #inquiry,
    #qna,
    #faq,
    .hallguideBox,
    .contactBox,
    .qnadetailBox,
    .qnawriteBox,
    .listContainer > div:nth-of-type(2),
    .orderBox,
    .mypageContainer,
    .personalContainer,
    .wishContainer,
    .orderContainer,
    .shopbagContainer{
        padding: 0 3.13%; box-sizing: border-box; margin: 0 auto;
    }
    header > div:first-of-type{
        padding: 20px 0; position: relative;
    }
    header > div:first-of-type:after{
        content: ''; display: block; clear: both;
    }
    header > div:first-of-type > *{
        float: left;
    }
    header > div:first-of-type button{
        width: 5%;
    }
    header > div:first-of-type h1{
        margin-left: 2.5%; width: 16.94%;
    }
    header > div:first-of-type h1 a{
        display: block;
    }
    header > div:first-of-type h1 a img{
        width: 100%; max-width: 122px;
    }
    header > div:first-of-type nav{
        margin-left: 7.6%; width: 40%;
    }
    header > div:first-of-type nav ul li{
        display: inline-block; line-height: 30px; padding: 0 10px;
        font-size: 12px; color: #222; font-weight: 600; cursor: default;
    }
    header > div:first-of-type nav ul li:hover{
        border-bottom: 1px solid black; color: #888;
    }
    header > div:first-of-type nav ul li a{
        display: block; color: inherit;
    }
    header > div:first-of-type div{
        width: 26%;
    }
    header > div:first-of-type div span{
        width: 100%; position: absolute; box-sizing: border-box; top: 71px; 
        z-index: 2; display: none; background-color: white; left: 0;
        padding: 20px 0; border-radius: 0 0 10px 10px; text-align: center;
    }
    header > div:first-of-type div span.active{
        display: block;
    }
    header > div:first-of-type div span input[type='search']{
        font-size: 14px; color: #222; border: none; line-height: 30px; border-bottom: 1px solid black;
        box-sizing: border-box;
    }
    header > div:first-of-type div span input[type='submit']{
        background-color: transparent; border: none; text-indent: -9999px;
        background: url('../images/header_search.png') center / contain no-repeat; width: 14px;
        
    }
    header > div:first-of-type div span input[type='button']{
        background-color: transparent; border: none; display: inline-block;
        text-indent: -9999px; background: url('../images/search_close.png') center / 8px no-repeat;
    }
    header > div:first-of-type div ul{
        display: flex; list-style: none; justify-content: flex-end;
    }
    header > div:first-of-type div ul li{
       width: 30px; line-height: 30px;
    }
    header > div:first-of-type div ul li input[type='button']{
        background-color: transparent; border: none; text-indent: -9999px; width: inherit; line-height: inherit;
        background: url('../images/header_search.png') center / 14px no-repeat; display: block;
    }
    header > div:first-of-type div ul li input[type='button'].active{
        background: url('../images/search_close.png') center / 13px no-repeat;
    }
    header > div:first-of-type div ul li a{
        display: block; text-indent: -9999px; background-position: center; background-repeat: no-repeat; line-height: 30px;
    }
    header > div:first-of-type div ul li:nth-child(2) a{
        background-image: url('../images/header_myacc.png'); background-size: 17px;
    }
    header > div:first-of-type div ul li:nth-child(3) a{
        background-image: url('../images/header_wish.png'); background-size: 20px;
    }
    header > div:first-of-type div ul li:nth-child(4) a{
        background-image: url('../images/header_shopbag.png'); background-size: 15px;
     }
    #gnbPanel{
        width: 100%; border-top: 1px solid #ebebe6; padding: 65px 0; position: relative; box-sizing: border-box;
    }
    #gnbPanel > ul{
        max-width: 768px; margin: 0 auto; list-style: none;
    }
    #gnbPanel > ul li{
        line-height: 50px;
    }
    #gnbPanel > ul > li:hover{
        width: 100%;
    }
    #gnbPanel > ul li > span{
        padding: 0 2.65%; display: block; box-sizing: border-box; border-right: 1px solid #ebebe6;
        max-width: 210px; width: 27%; font-size: 12px; font-weight: 700; color: #555;
    }
    #gnbPanel > ul li:hover > span{
        background: url('../images/header_arrow.png') right 15px center / 8px no-repeat, #ebebe6;
    }
    #gnbPanel > ul li > span+div{
        display: none; position: absolute; right: 0; top: 65px; width: 70%; padding: 0 3%; box-sizing: border-box;
    }
    #gnbPanel > ul li:hover > span+div{
        display: flex; justify-content: flex-start;
    }
    #gnbPanel > ul li > span+div div:not(:first-of-type){
        margin-left: 10%;
    }
    #gnbPanel strong{
        font-size: 14px; font-weight: 700; color: #222;
    }
    #gnbPanel div ol{
        list-style: none;
    }
    #gnbPanel div ol li:hover a{
        color: #222;
    }
    #gnbPanel div ol li a{
        font-size: 12px; font-weight: 600; color: #777; 
    }
    #gnbPanel div > div:last-child{
       display: none;
    }

    /* footer */
    footer,
    footer > div:last-of-type{
        border-top: 1px solid #c3c2bc;
    }
    footer > div:first-of-type,
    footer > div:last-of-type > div{
        max-width: 720px; margin: 0 auto;
    }
    footer > div:first-of-type{
        padding: 40px 0; box-sizing: border-box;
    }
    footer > div > *{
        list-style: none;
    }
    footer > div:first-of-type:after{
        content: ''; display: block; clear: both;
    }
    footer > div:first-of-type > *{
        float: left;
    }
    footer > div:first-of-type > ul{
        width: 50%;
    }
    footer > div:first-of-type > ul li:not(:last-child){
        float: left;
    }
    footer > div:first-of-type > ul:first-child li:nth-child(2){
        margin-left: 2.7%;
    }
    footer > div:first-of-type > ul li:last-child{
        clear: left; margin-top: 105px;
    }
    footer > div:first-of-type ul li h3{
        margin-bottom: 20px;
    }
    footer > div:first-of-type ul li span{
        display: inline-block;
    }
    footer > div:first-of-type ul li h3,
    footer > div:first-of-type ul li span{
        font-size: 16px; font-weight: 700; color: #333;
    }
    footer > div:first-of-type address{
        font-size: 14px; font-weight: 500; color: #777;
        font-style: inherit;
    }
    footer > div:first-of-type ul li a{
        font-size: 14px; font-weight: 500; color: #777;
    }
    footer > div:first-of-type ul li span:not(:first-child){
        margin-left: 2.7%;
    }
    footer > div:first-of-type > ul li span a{
        display: block; margin-top: 20px;
    }
    footer > div:first-of-type > div{
        display: none;
    }
    footer > div:last-of-type > div:after{
        content: ''; display: block; clear: both;
    }
    footer > div:last-of-type{
        padding: 30px 0;
    }
    footer > div:last-of-type h2{
        float: left;
    }
    footer > div:last-of-type h2 img{
        width: 100%;
    }
    footer > div:last-of-type p{
        text-align: right; line-height: 43px;
        font-size: 12px; font-weight: 500; color: #222;
    }
}
/* tablet */
@media screen and (min-width: 1280px){
    .mui{
        display: none;
    }
    header > div:first-of-type,
    .pageNavigator,
    #headQuarters > section:nth-of-type(2),
    #headQuarters > section:nth-of-type(3),
    #headQuarters > section:last-of-type,
    .listContainer > div:nth-of-type(2),
    .orderBox{
        max-width: 1800px; margin: 0 auto;
    }
    #announcement,
    #inquiry,
    #qna,
    #faq,
    .hallguideBox,
    .qnadetailBox,
    .mypageContainer,
    .personalContainer,
    .wishContainer,
    .orderContainer,
    .shopbagContainer{
        max-width: 1300px; margin: 0 auto;
    }
    header > div:first-of-type{
        padding: 20px 0; position: relative;
    }
    header > div:first-of-type:after{
        content: ''; display: block; clear: both;
    }
    header > div:first-of-type > *:not(div){
        float: left;
    }
    header > div:first-of-type h1{
        max-width: 122px; width: 100%; margin-left: 2.8%;
    }
    header > div:first-of-type h1 a{
        display: block;
    }
    header > div:first-of-type h1 a img{
        width: 100%;
    }
    header > div:first-of-type nav{
        margin-left: 2.5%;
    }
    header > div:first-of-type nav ul li{
        display: inline-block; padding: 0 10px; line-height: 30px;
        font-size: 12px; color: #222; font-weight: 600; cursor: default;
    }
    header > div:first-of-type nav ul li a{
        display: block; color: inherit;
    }
    header > div:first-of-type nav ul li:hover{
        border-bottom: 1px solid black; color: #888;
    }
    header > div:first-of-type div{
        position: absolute; right: 0; width: 26%;
    }
    header > div:first-of-type div > *{
        display: block; float: left;
    }
    header > div:first-of-type div span{
        width: 72.5%; 
        position: relative; padding-right: 20px; box-sizing: border-box;
    }
    header > div:first-of-type div span input[type='search']{
        font-size: 14px; color: #222; border: none; line-height: 30px; width: 100%;
        border-bottom: 1px solid black; box-sizing: border-box;
    }
    header > div:first-of-type div span input[type='submit']{
        background-color: transparent; border: none; text-indent: -9999px;
        background: url('../images/header_search.png') center / contain no-repeat; width: 14px;
        right: 5px; top: 8px; position: absolute;
    }
    header > div:first-of-type div ul{
        width: 25%; display: flex; list-style: none;
        justify-content: space-between;
    }
    header > div:first-of-type div ul li{
        width: 25%;
    }
    header > div:first-of-type div ul li a{
        display: block; text-indent: -9999px; background-position: center; background-repeat: no-repeat; line-height: 30px;
    }
    header > div:first-of-type div ul li:nth-child(2) a{
        background-image: url('../images/header_myacc.png'); background-size: 17px;
    }
    header > div:first-of-type div ul li:nth-child(3) a{
        background-image: url('../images/header_wish.png'); background-size: 20px;
    }
    header > div:first-of-type div ul li:nth-child(4) a{
        background-image: url('../images/header_shopbag.png'); background-size: 15px;
     }
    #gnbPanel{
        width: 100%; border-top: 1px solid #ebebe6; padding: 65px 0; position: relative;
    }
    #gnbPanel > ul{
        max-width: 1900px; margin: 0 auto; list-style: none;
    }
    #gnbPanel > ul li{
        line-height: 50px;
    }
    #gnbPanel > ul > li:hover{
        width: 100%;
    }
    #gnbPanel > ul li > span{
        padding: 0 2.65%; display: block; box-sizing: border-box; border-right: 1px solid #ebebe6;
        max-width: 395px; width: 20.78%; font-size: 12px; font-weight: 700; color: #555;
    }
    #gnbPanel > ul li:hover > span{
        background: url('../images/header_arrow.png') right 15px center / 8px no-repeat, #ebebe6;
    }
    #gnbPanel > ul li > span+div{
        display: none; position: absolute; left: 20.78%; top: 65px; width: 79.22%; padding: 0 3%; box-sizing: border-box;
    }
    #gnbPanel > ul li:hover > span+div{
        display: flex; justify-content: space-between;
    }
    #gnbPanel strong{
        font-size: 14px; font-weight: 700; color: #222;
    }
    #gnbPanel div ol li{
        list-style: none;
    }
    #gnbPanel div ol li:hover a{
        color: #222;
    }
    #gnbPanel div ol li a{
        font-size: 12px; font-weight: 600; color: #777; 
    }
    #gnbPanel div > div:last-child img{
        width: 100%;
    }
    #gnbPanel div > div:last-child a:hover{
        color: #777;
    }
    #gnbPanel div > div:last-child a{
        display: block; font-size: 24px; font-weight: 800; color: #222; 
        background: url('../images/header_arrow.png') right center / 10px no-repeat;
    }
 

    /* footer */
    footer,
    footer > div:last-of-type{
        border-top: 1px solid #c3c2bc;
    }
    footer > div:first-of-type,
    footer > div:last-of-type > div{
        max-width: 1800px; margin: 0 auto;
    }
    footer > div:first-of-type{
        padding: 40px 0;
    }
    footer > div > *{
        list-style: none;
    }
    footer > div:first-of-type:after{
        content: ''; display: block; clear: both;
    }
    footer > div:first-of-type > *{
        float: left;
    }
    footer > div:first-of-type > ul{
        width: 40%;
    }
    footer > div:first-of-type > ul li:not(:last-child){
        float: left;
    }
    footer > div:first-of-type > ul:first-child li:nth-child(2){
        margin-left: 6%;
    }
    footer > div:first-of-type > ul li:last-child{
        clear: left; margin-top: 105px;
    }
    footer > div:first-of-type ul li h3{
        margin-bottom: 20px;
    }
    footer > div:first-of-type ul li span{
        display: inline-block;
    }
    footer > div:first-of-type ul li h3,
    footer > div:first-of-type ul li span{
        font-size: 16px; font-weight: 700; color: #333;
    }
    footer > div:first-of-type address{
        font-size: 14px; font-weight: 500; color: #777;
        font-style: inherit;
    }
    footer > div:first-of-type ul li a{
        font-size: 14px; font-weight: 500; color: #777;
    }
    footer > div:first-of-type ul li span:not(:first-child){
        margin-left: 5%;
    }
    footer > div:first-of-type > ul li span a{
        display: block; margin-top: 20px;
    }
    footer > div:first-of-type > div{
        width: 20%; text-align: right;
    }
    footer > div:first-of-type > div h3{
        font-size: 22px; font-weight: 800; margin: 20px 0 40px 0;
    }
    footer > div:first-of-type > div a{
        box-sizing: border-box; border: 1px solid #222; display: block; max-width: 190px;
        padding: 20px 5%; font-size: 12px; font-weight: 600; color: #222; text-align: center; margin-left: auto;
    }
    footer > div:last-of-type:after{
        content: ''; display: block; clear: both;
    }
    footer > div:last-of-type{
        padding: 30px 0;
    }
    footer > div:last-of-type h2{
        float: left;
    }
    footer > div:last-of-type h2 img{
        width: 100%;
    }
    footer > div:last-of-type p{
        text-align: right; line-height: 43px;
        font-size: 12px; font-weight: 500; color: #222;
    }
}
/* desktop */